<div
  class="card is-hidden-mobile"
>
  <header class="card-header">
    <span class="card-header-title">
      Categories
    </span>
  </header>

  <div class="card-content">
    <aside class="menu">
      <ul class="menu-list">
        <li>
          <a
            routerLink="/business"
            routerLinkActive="is-active"
          >
            Business
          </a>
        </li>

        <li>
          <a
            routerLink="/entertainment"
            routerLinkActive="is-active"
          >
            Entertainment
          </a>
        </li>

        <li>
          <a
            routerLink="/health"
            routerLinkActive="is-active"
          >
            Health
          </a>
        </li>

        <li>
          <a
            routerLink="/science"
            routerLinkActive="is-active"
          >
            Science
          </a>
        </li>

        <li>
          <a
            routerLink="/sports"
            routerLinkActive="is-active"
          >
            Sports
          </a>
        </li>

        <li>
          <a
            routerLink="/technology"
            routerLinkActive="is-active"
          >
            Technology
          </a>
        </li>
      </ul>
    </aside>
  </div>
</div>

<div class="bra-3 has-background-white">
  <div
    class="tabs is-toggle is-hidden-tablet"
  >
    <ul>
      <li
        routerLink="/business"
        routerLinkActive="is-active"
      >
        <a>
          <span class="icon is-small">
            <i class="fas fa-briefcase" aria-hidden="true"></i>
          </span>

          <span>Business</span>
        </a>
      </li>

      <li
        routerLink="/entertainment"
        routerLinkActive="is-active"
      >
        <a>
          <span class="icon is-small">
            <i class="fas fa-image" aria-hidden="true"></i>
          </span>

          <span>Entertainment</span>
        </a>
      </li>

      <li
        routerLink="/health"
        routerLinkActive="is-active"
      >
        <a>
          <span class="icon is-small">
            <i class="fas fa-heartbeat" aria-hidden="true"></i>
          </span>

          <span>Health</span>
        </a>
      </li>

      <li
        routerLink="/science"
        routerLinkActive="is-active"
      >
        <a>
          <span class="icon is-small">
            <i class="fas fa-atom" aria-hidden="true"></i>
          </span>

          <span>Science</span>
        </a>
      </li>

      <li
        routerLink="/sports"
        routerLinkActive="is-active"
      >
        <a>
          <span class="icon is-small">
            <i class="fas fa-dumbbell" aria-hidden="true"></i>
          </span>

          <span>Sports</span>
        </a>
      </li>

      <li
        routerLink="/technology"
        routerLinkActive="is-active"
      >
        <a>
          <span class="icon is-small">
            <i class="fas fa-mobile-alt" aria-hidden="true"></i>
          </span>

          <span>Technology</span>
        </a>
      </li>
    </ul>
  </div>
</div>
