<div class="card">
  <div class="card-content">
    <aside class="menu">
      <p class="menu-label">
        Categories
      </p>

      <ul class="menu-list">
        <li>
          <a href="#">
            Business
          </a>
        </li>

        <li>
          <a href="#">
            Entertainment
          </a>
        </li>

        <li>
          <a href="#">
            Health
          </a>
        </li>

        <li>
          <a href="#">
            Science
          </a>
        </li>

        <li>
          <a href="#">
            Sports
          </a>
        </li>
      </ul>
    </aside>
  </div>
</div>
