<div class="card">
  <header class="card-header">
    <span class="card-header-title">
      Categories
    </span>
  </header>

  <div class="card-content">
    <aside class="menu">
      <ul class="menu-list">
        <li>
          <a
            routerLink="/business"
            routerLinkActive="is-active"
          >
            Business
          </a>
        </li>

        <li>
          <a
            routerLink="/entertainment"
            routerLinkActive="is-active"
          >
            Entertainment
          </a>
        </li>

        <li>
          <a
            routerLink="/health"
            routerLinkActive="is-active"
          >
            Health
          </a>
        </li>

        <li>
          <a
            routerLink="/science"
            routerLinkActive="is-active"
          >
            Science
          </a>
        </li>

        <li>
          <a
            routerLink="/sports"
            routerLinkActive="is-active"
          >
            Sports
          </a>
        </li>

        <li>
          <a
            routerLink="/technology"
            routerLinkActive="is-active"
          >
            Technology
          </a>
        </li>
      </ul>
    </aside>
  </div>
</div>
