<div class="card mb-10">
  <header class="card-header">
    <span class="card-header-title">
      About Developer
    </span>
  </header>

  <div class="card-content">
    <div class="content has-text-centered">
      <img
        src="assets/images/photo.jpg"
        alt="Andriannus Parasian"
        class="brb-50-per mb-10"
        width="50%"
      >

      <p>
        <strong>Andriannus Parasian</strong>
      </p>

      <p>
        Front-end Engineer at Tunaiku
      </p>
    </div>
  </div>

  <footer class="card-footer">
      <a
      href="https://andriannus.id"
      class="card-footer-item"
    >
      Web
    </a>

    <a
      href="https://github.com/andriannus"
      class="card-footer-item"
    >
      Github
    </a>
  </footer>
</div>

<p class="has-text-grey is-size-7">
  Powered by <a href="https://newsapi.org">NewsAPI</a>
</p>
