@import "~bulma/css/bulma.min.css";

.brb-10 {
  border-radius: 10px !important;
}

.brb-50-per {
  border-radius: 50% !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}
